# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local env files
.DS_Store
content/.DS_Store
public/images/.DS_Store

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Documents and Prompts

# Local Images (because all of them all in our CDN)
# Ignore image files in public/images and its subdirectories but keep the directory structure
public/images/**/*.jpg
public/images/**/*.jpeg
public/images/**/*.png
public/images/**/*.gif
public/images/**/*.svg
public/images/**/*.webp

# Ignore file for testing the formatting of Strict markdown documents
lib/documents/document.md
